.saqle-signin{
	display:grid;
	grid-template-rows:1fr;
	grid-template-columns: 1fr 1fr;
	padding-top:2em;
	padding-bottom: 2em;
}
.saqle-signin-body{
	margin-top:1em;
}
.saqle-signin-header{
	color:var(--background_color);
}
.form{
	background: #fff;
	border-radius:10px;
	padding:2em;
}
.form-control-group button[type=submit]{
	  background-color:#C1440E;
	  border:1px solid #C1440E;
	  border-radius:5px;
	  color:#fff;
}