APP_NAME = Saqle-Project

COOKIE_DOMAIN=.saqleproject.local
ROOT_DOMAIN=www.saqleproject.local

DB_HOST=localhost
DB_USER_NAME=root
DB_PASSWORD=

EMAIL_USER_NAME=
EMAIL_PASSWORD=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_SENDER_ADDRESS=

DISPLAY_ERRORS=1
DISPLAY_STARTUP_ERRORS=1

JWT_KEY=
JWT_TTL=3600

MEDIA_ENCRYPT_KEY=
MEDIA_ENCRYPT_SALT=