COOKIE_DOMAIN=.saqleproject.local
ROOT_DOMAIN=www.saqleproject.local

MySQL_DB_HOST=localhost
MySQL_DB_USER_NAME=root
MySQL_DB_PASSWORD=
MySQL_DB_NAME=saqleproject

EMAIL_USER_NAME=
EMAIL_PASSWORD=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_SENDER_ADDRESS=

DISPLAY_ERRORS=1
DISPLAY_SETUP_ERRORS=1

JWT_KEY=
JWT_TTL=3600