<!DOCTYPE html>
<html>
	 <head>
	 	 <ui:meta>
		 	 <meta charset='utf-8'></meta>
		 	 <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
	         <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1'>
	         <!--meta tags collected from all the rendered components will be appended here-->
         </ui:meta>

	     <ui:styles>
	     	 <!--css links collected from all the rendered components will be appended here-->
	     </ui:styles>

		 <title>
		 	 <ui:title>Starter project for the SaQle framework</ui:title>
		 </title>
	 </head>
	 <body>
		 <ui:slot/>
		 <ui:scripts>
		 	 <script src='/static/js/jquery.js'></script>
		 	 <!--js files collected from all the rendered components will be appended here-->
		 </ui:scripts>
	 </body>
</html>
