
<!DOCTYPE html>
<html>
	 <head>
	 	 <meta charset='utf-8'></meta>
	 	 <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
	 	 <meta name='kewwords' content='saqle,saqle-framework'></meta>
         <meta name='description' content='Light weight rapid prototyping framework for PHP developers'></meta>
         <meta name='author' content='Wycliffe Omondi Otieno: wycliffomondiotieno@gmail.com'></meta>
         <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1'>
	     {!! $meta !!}
	     <link rel='icon' type='image/png' href='../favicon.png'/>
	     <link href='/static/css/fontawesome/css/fontawesome.css' rel='stylesheet'/>
         <link href='/static/css/fontawesome/css/brands.css' rel='stylesheet'/>
         <link href='/static/css/fontawesome/css/solid.css' rel='stylesheet'/>
	     <link rel='stylesheet' type='text/css' href='/static/css/fontstyles.css'/>
	     <link rel='stylesheet' type='text/css' href='/static/css/material-symbols.css'/>
	     <link rel='stylesheet' type='text/css' href='/static/css/shared/reset.css'/>
	     {!! $css !!}
		 <title>{{ $title }}</title>
	 </head>
	 <body>
		 {!! $content !!}
		 <script src='/static/js/jquery.js'></script>
         <script src='/static/js/utils.js'></script>
		 {!! $js !!}
	 </body>
</html>
