<div class="app">
     <div class='appleft'>
         <div class='flex v_center navheader'>
             <img src='{{ $layout_image_path }}/logo.png'>
         </div>
         <div class='navbody'>
             <a href='#' class="flex v_center">
                 <span class="flex center icon material-symbols-outlined">dashboard</span>
                 <span class='flex v_center label'>Dashboard</span>
             </a>
             <a href='#' class="flex v_center">
                 <span class="flex center icon material-symbols-outlined">school</span>
                 <span class='flex v_center label'>Schools</span>
             </a>
             <a href='#' class="flex v_center">
                 <span class="flex center icon material-symbols-outlined">groups</span>
                 <span class='flex v_center label'>Users</span>
             </a>
             <a href='#' class="flex v_center">
                 <span class="flex center icon material-symbols-outlined">news</span>
                 <span class='flex v_center label'>News</span>
             </a>
             <a href='#' class="flex v_center">
                 <span class="flex center icon material-symbols-outlined">event</span>
                 <span class='flex v_center label'>Events</span>
             </a>
             <a href='#' class="flex v_center">
                 <span class="flex center icon material-symbols-outlined">notification_multiple</span>
                 <span class='flex v_center label'>Newsletters</span>
             </a>
             <a href='#' class="flex v_center">
                 <span class="flex center icon material-symbols-outlined">files</span>
                 <span class='flex v_center label'>Documents</span>
             </a>
             <a href='#' class="flex v_center">
                 <span class="flex center icon material-symbols-outlined">speaker_notes</span>
                 <span class='flex v_center label'>Chats</span>
             </a>
         </div>
         <div class='flex v_center navfooter'>
             <div class='flex v_center'>
                  <img src='{{ $layout_image_path }}/profile-picture.png'>
                  <div>
                      <h5 class='poppins-semibold'>Wycliffe Omondi</h5>
                      <p>Admin</p>
                  </div>
             </div>
         </div>
     </div>
     <div class='appright'>
         <div class='flex v_center row_reverse appheader'>
             <a href='#' class='flex center'>
                  <img src='{{ $layout_image_path }}/profile-picture.png'>
             </a>
             <a href='#' class='flex center'>
                 <span class="flex center icon material-symbols-outlined">notifications</span>
             </a>
             <a href='#' class='flex center'>
                 <span class="flex center icon material-symbols-outlined">settings</span>
             </a>
         </div>
         <div class='appbody'>
             <ui:slot/>
         </div>
     </div>
</div>