<form method='POST' enctype='multipart/form-data' class='saqle-signup'>
	 <div class='poster'>
	 	 <img src='{{ $layout_image_path }}/idea_market.png'>
	 </div>
	 <div class='form'>
		 <div class='flex center saqle-signup-header'>
		 	 <div>
		 	     <h2>Create Account</h2>
		 	 </div>
		 </div>
		 <div class='saqle-signup-body'>
		 	 @let($context = $form->get_context())
		     @if($context && $context->message)
		     <div class='form_message form_message_{{ $context->message->type}}'>
	             <span>{{ $context->message->text }}</span>
	         </div>
		     @endif
		     @let($resource = null)
		     <ui:component name='saqle.lib.autoform' :resource='$resource' :form='$form'/>
		     {!! $csrf_token !!}
	 		 <div class='form-control-group'>
	 		 	 <button type='submit'>Create Account</button>
	 		 </div>
		 </div>
	 </div> 
</form>