.saqle-landing-wrapper{
	width:100%;
}
.saqle-landing{
	display:grid;
	grid-template-rows:auto 1fr;
	grid-template-columns:1fr;
	width:80%;
}
.saqle-landing-body{
	min-height: calc(100vh - 70px);
	overflow-y: auto;
}
.saqle-landing-header{
	background-color:#1E293B;
	padding-left:1em;
	padding-right:1em;
	padding-top:.5em;
	padding-bottom:.5em;
	border-radius: 10px;
	margin-top:10px;
}
.header-title{
	flex: 1;
}
.header-title img{
	height:40px;
	width:auto;
	object-fit: contain;
}
.header-title h1{
	color:#fff;
	font-size: 30px;
}
.header-nav{

}
.header-nav a{
	height:40px;
	color:var(--steel_gray_100);
	text-decoration:none;
	margin-left:1em;
	font-weight: 600;
	font-size:14px;
}