@css about @endcss

<div class='saqle-about'>
	 <h1>About</h1>
	 <p>SaQle is a rapid web app development MVC framework for PHP Developers. This is a fan personal project and by no means meant to compete Laravel or CakePhp and the likes. However, for developers looking to rapidly deploy small to medium scale web apps and/or prototypes, this framework will get you started quickly and get your idea out to the world.</p>

     <h2>Some Features</h2>
     <ul>
     	 <li>Integrated CRUD for database interaction</li>
     	 <li>MVC architecture</li>
     	 <li>Request dispatcher with clean, custom URLs and routes</li>
     	 <li>Built-in validation</li>
     	 <li>Basic templating with PHP syntax</li>
     	 <li>Cookies, security, session, and request handling management components</li>
     	 <li>User input sanitization</li>
     	 <li>Basic authorization and authentication</li>
     	 <li>Multitenancy handling components</li>
     	 <li>Email feature with PHPMailer</li>
     	 <li>SMS feature with Twilio</li>
     	 <li>Image and video uploads resizing and cropping</li>
     </ul>
</div>